<footer class="footer">
  <div class="footer-left">
    <div class="footer-left-column-one">
      <h3 class="footer-heading-left">Support</h3>
      <a href="en-US/faqs.html">FAQS</a><br />
      <a href="en-US/whisky-glossary.html">Glossary of Terms</a><br />
      <br />
      <p class="complaints-message">
        <a href="mailto:Ballantines@pernod-ricard.com">CONTACT US</a>
      </p>
      <div class="countrybox footer-countrysel">
        <select>
          <option value="pt-AO">Angola</option>
          <option value="es-AR">Argentina</option>
          <option value="en-BW">Botswana</option>
          <option value="bg-BG">Bulgaria</option>
          <option value="fr-CM">Cameroon</option>
          <option value="es-CL">Chile</option>
          <option value="es-CO">Colombia</option>
          <option value="en-CY">Cyprus</option>
          <option value="fr-CI">Côte d'Ivoire</option>
          <option value="en-EG">Egypt</option>
          <option value="fr-FR">France</option>
          <option value="de-DE">Germany</option>
          <option value="en-GH">Ghana</option>
          <option value="en-EN">International</option>
          <option value="it-IT">Italy</option>
          <option value="en-KE">Kenya</option>
          <option value="en-LB">Lebanon</option>
          <option value="es-MX">Mexico</option>
          <option value="fr-MA">Morocco</option>
          <option value="pt-MZ">Mozambique</option>
          <option value="es-PE">Peru</option>
          <option value="pl-PL">Poland</option>
          <option value="ro-RO">Romania</option>
          <option value="en-ZA">South Africa</option>
          <option value="es-ES">Spain</option>
          <option value="zh-TW">Taiwan</option>
          <option value="fr-TN">Tunisia</option>
          <option value="uk-UA">Ukraine</option>
          <option value="en-UK">United Kingdom</option>
          <option value="en-US" selected="selected">United States</option>
          <option value="es-UY">Uruguay</option>
          <option value="en-ZM">Zambia</option>
        </select>
      </div>
    </div>

    <div class="footer-left-column-two">
      <h3 class="footer-heading-left">Info</h3>
      <a href="en-US/terms-and-conditions.html">Terms &amp; Conditions</a><br />

      <a href="https://privacy.pernod-ricard-usa.com/" target="_blank">
        Privacy Policy </a
      ><br />

      <a href="en-US/cookie-policy.html" target="_blank"> Cookie Policy </a
      ><br />

      <a href="en-US/social-responsibility.html">Social Responsibility</a><br />
      <a href="en-US/nutritional-information.html">Nutritional Information</a
      ><br />

      <div class="footer-responsibly">
        PLEASE ENJOY BALLANTINE’S RESPONSIBLY
      </div>
    </div>
  </div>
  <div class="footer-right">
    <div class="footer-right-column">
      <h3 class="footer-heading-right">DON'T BE A STRANGER</h3>
      At Ballantine’s, mates come first.<br />
      Get exclusive content, event invites and much more. <br /><br />
      <div class="footer-right-form">
        <form action="https://www.ballantines.com/en-US/sign-up" method="POST">
          <input
            type="text"
            name="femail"
            value=""
            placeholder="ENTER YOUR EMAIL"
            class="footer-input-email"
          />
          <input type="submit" value="GO" class="footer-input-go" />
        </form>
      </div>
    </div>
  </div>

  <div class="footer-mid">
    <a
      aria-controls="collapseExample"
      aria-expanded="false"
      class="footer-mid-collapse"
      data-toggle="collapse"
      href="#collapseExample"
    >
      <div class="divleft">Support</div>
      <div class="divright">
        <img
          alt="Collapse Arrow"
          class="collapse-arrow-mobile"
          src="assets/images/collapse-arrow.png"
        />
      </div>
    </a>
    <div class="collapse" id="collapseExample">
      <div class="footer-mid-column-one">
        <a href="en-US/whisky-glossary.html">Glossary of Terms</a><br />
      </div>
    </div>
    <a
      aria-controls="collapseExample2"
      aria-expanded="false"
      class="footer-mid-collapse"
      data-toggle="collapse"
      href="#collapseExample2"
    >
      <div class="divleft">Info</div>
      <div class="divright">
        <img
          alt="Collapse Arrow"
          class="collapse-arrow-mobile"
          src="assets/images/collapse-arrow.png"
        />
      </div>
    </a>
    <div class="collapse" id="collapseExample2">
      <div class="footer-mid-column-two">
        <a href="en-US/terms-and-conditions.html">Terms &amp; Conditions</a
        ><br />

        <a href="https://privacy.pernod-ricard-usa.com/" target="_blank">
          Privacy Policy </a
        ><br />

        <a href="en-US/cookie-policy.html" target="_blank"> Cookie Policy </a
        ><br />

        <a href="en-US/social-responsibility.html">Social Responsibility</a
        ><br />
        <a href="en-US/nutritional-information.html">Nutritional Information</a
        ><br />
      </div>
    </div>

    <a
      aria-controls="collapseExample3"
      aria-expanded="false"
      class="footer-mid-collapse last-mid-item"
      data-toggle="collapse"
      href="#collapseExample3"
    >
      <div class="divleft">Follow us</div>
      <div class="divright">
        <img
          alt="Collapse Arrow"
          class="collapse-arrow-mobile"
          src="assets/images/collapse-arrow.png"
        />
      </div>
    </a>
    <div class="collapse" id="collapseExample3">
      <div class="footer-mid-column-two">
        <a href="https://www.facebook.com/Ballantines/" target="_blank"
          >Facebook</a
        ><br />
        <a href="https://www.instagram.com/ballantines/" target="_blank"
          >Instagram</a
        ><br />
      </div>
    </div>
    <p class="complaints-message">
      <a href="mailto:Ballantines@pernod-ricard.com">CONTACT US</a>
    </p>
    <div class="footer-copyright">2016 - 2020 Ballantine's</div>
    <!-- <div class="countrybox footer-countrysel">
      <select>
        <option value="pt-AO">Angola</option>
        <option value="es-AR">Argentina</option>
        <option value="en-BW">Botswana</option>
        <option value="bg-BG">Bulgaria</option>
        <option value="fr-CM">Cameroon</option>
        <option value="es-CL">Chile</option>
        <option value="es-CO">Colombia</option>
        <option value="en-CY">Cyprus</option>
        <option value="fr-CI">Côte d'Ivoire</option>
        <option value="en-EG">Egypt</option>
        <option value="fr-FR">France</option>
        <option value="de-DE">Germany</option>
        <option value="en-GH">Ghana</option>
        <option value="en-EN">International</option>
        <option value="it-IT">Italy</option>
        <option value="en-KE">Kenya</option>
        <option value="en-LB">Lebanon</option>
        <option value="es-MX">Mexico</option>
        <option value="fr-MA">Morocco</option>
        <option value="pt-MZ">Mozambique</option>
        <option value="es-PE">Peru</option>
        <option value="pl-PL">Poland</option>
        <option value="ro-RO">Romania</option>
        <option value="en-ZA">South Africa</option>
        <option value="es-ES">Spain</option>
        <option value="zh-TW">Taiwan</option>
        <option value="fr-TN">Tunisia</option>
        <option value="uk-UA">Ukraine</option>
        <option value="en-UK">United Kingdom</option>
        <option value="en-US" selected="selected">United States</option>
        <option value="es-UY">Uruguay</option>
        <option value="en-ZM">Zambia</option>
      </select>
    </div> -->
  </div>

  <div class="footer-bottom">
    <div class="left-copyright">
      <div class="left-logo">2016 - 2020 Ballantine's</div>
    </div>
    <div class="footer-logo">
      <img src="assets/images/footer-logo.jpg" alt="Ballantine&#039;s logo" />
    </div>
    <div class="right-copyright">
      <div class="social">
        <a href="https://www.instagram.com/ballantines/" target="_blank"
          ><img src="assets/images/footer-ig.jpg" alt="Instagram Logo"
        /></a>
      </div>

      <div class="social">
        <a href="https://www.facebook.com/Ballantines/" target="_blank"
          ><img src="assets/images/footer-fb.jpg" alt="Facebook Logo"
        /></a>
      </div>

      <div class="follow">Follow us:</div>
    </div>
  </div>
</footer>
