<header>
  <div class="logo">
    <a href="/home"
      ><img alt="Ballantines Logo" src="assets/images/ballantines-logo.png"
    /></a>
  </div>
  <nav class="scroll">
    <ul class="nav nav-pills " style="justify-content: center;">
      <li class="nav-item">
        <a class="nav-link sel" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Whisky</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Drinks</a>
      </li>

      <li class="nav-item ddown">
        <a class="nav-link" href="#">True Music</a>
      </li>
    </ul>
  </nav>

  <!-- <nav class="subnavi">
    <ul class="nav nav-pills float-right subnav">
      <li class="nav-item">
        <a
          class="nav-link active"
          href="en-US/pages/boiler-room-x-ballantines.html"
          >BOILER ROOM</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="en-US/pages/forum.html">FORUM</a>
      </li>
    </ul>
  </nav> -->
</header>
