<div class="col-lg-12">
  <div class="u-area">
    <div class="col-md-6 offset-md-3 text-left">
      <form action="#" method="post" style="margin-top: 30px">
        <h3>Vote for the Ballentine Contest</h3>
        <br />
        <div class="form-group">
          <label for="staffid">Voucher Code</label>
          <input type="text" class="form-control" name="staffid" id="staffid" />
        </div>
        <div class="form-group">
          <label for="fullname">Name</label>
          <input type="text" class="form-control" name="fullname" id="fullname" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" />
        </div>
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <button type="button" class="btn btn-primary" style="padding: 0px 60px; margin: 20px; font-size: 20px">
                Vote
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
