<div class="bg">
  <img src="assets/images/hero_1988x994.png" alt="Chevron" />
</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <a
        type="button"
        class="btn btn-primary"
        style="padding: 10px 60px; margin: 20px; font-size: 20px"
        href="/vote"
      >
        View More
    </a>
    </div>
  </div>
</div>

<!-- <div class="content-container">
  <div class="page-content">
    <div class="module-related">
      <div class="row row-margin">
        <div class="col-sm-4 col-xs-12 related-col">
          <div class="grid-item">
            <a href="drinks/finest-cola.html"><img
                src="../../s3-eu-west-1.amazonaws.com/ballantines.com/stage/DrinkToMarket/2042/hero/3/hero_1988x994.png"
                alt="Whisky Cocktails | Finest &amp; Cola | Classic" /></a>
            <div class="item-content txtcenter">
              <h3 class="drink-name">
                <a href="drinks/finest-cola.html">FINEST &amp; COLA</a>
              </h3>
              <div class="drink-content">
                Two’s company and three’s a crowd pleaser. Mix up this three
                ingredient classic to kick off a night with friends.
              </div>
              <a class="drinks-how-to" href="/vote" >View more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
